<?xml version="1.0"?>
<config>
    <modules>
        <Aitoc_MultiLocationInventory>
            <version>1.0.0</version>
            <platform>community</platform>
        </Aitoc_MultiLocationInventory>
    </modules>
    
    <frontend>
        <events>
            <sales_quote_load_after>
                <observers>
                    <aitoc_multilocationinventory>
                        <class>aitoc_multilocationinventory/observer</class>
                        <method>quoteLoadAfter</method>
                    </aitoc_multilocationinventory>
                </observers>
            </sales_quote_load_after>
        </events>
    </frontend>
    
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <aitoc_multilocationinventory>
                        <class>aitoc_multilocationinventory/observer</class>
                        <method>adminBlockPrepareLayoutAfter</method>
                    </aitoc_multilocationinventory>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <sales_order_grid_collection_load_before>
                <observers>
                    <aitoc_multilocationinventory>
                        <class>aitoc_multilocationinventory/observer</class>
                        <method>orderGridCollectionLoadBefore</method>
                    </aitoc_multilocationinventory>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
        <layout>
            <updates>
                <aitoc_multilocationinventory>
                    <file>aitoc_multilocationinventory.xml</file>
                </aitoc_multilocationinventory>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <!--<fieldsets>-->
            <!--<catalog_product_dataflow>-->
                <!--<use_default_website_stock>-->
                    <!--<inventory>1</inventory>                    -->
                    <!--<product_type>-->
                        <!--<simple />-->
                        <!--<virtual />-->
                        <!--<configurable />-->
                        <!--<grouped />-->
                    <!--</product_type>-->
                <!--</use_default_website_stock>-->
            <!--</catalog_product_dataflow>-->
        <!--</fieldsets>-->
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aitoc_multilocationinventory after="Mage_Adminhtml">Aitoc_MultiLocationInventory_Adminhtml</aitoc_multilocationinventory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <global>
        <blocks>
            <aitoc_multilocationinventory>
                <class>Aitoc_MultiLocationInventory_Block</class>
            </aitoc_multilocationinventory>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_inventory>Aitoc_MultiLocationInventory_Block_Rewrite_AdminCatalogProductEditTabInventory</catalog_product_edit_tab_inventory>
                    <catalog_product_edit_action_attribute_tab_inventory>Aitoc_MultiLocationInventory_Block_Rewrite_AdminCatalogProductEditActionAttributeTabInventory</catalog_product_edit_action_attribute_tab_inventory>
                    <sales_order_view_tab_info>Aitoc_MultiLocationInventory_Block_Rewrite_AdminSalesOrderViewTabInfo</sales_order_view_tab_info>
                    <sales_order_view_items>Aitoc_MultiLocationInventory_Block_Rewrite_AdminSalesOrderViewItems</sales_order_view_items>
                    <catalog_product_grid>Aitoc_MultiLocationInventory_Block_Rewrite_AdminCatalogProductGrid</catalog_product_grid>
                </rewrite>
                <!--<rewrite>-->
                <!--<report_product_lowstock_grid>Aitoc_Aitquantitymanager_Block_Rewrite_AdminReportProductLowstockGrid</report_product_lowstock_grid>-->
                <!--</rewrite>-->
                <!--<rewrite>-->
                <!--<catalog_product_grid>Aitoc_Aitquantitymanager_Block_Rewrite_AdminCatalogProductGrid</catalog_product_grid>-->
                <!--</rewrite>-->

            </adminhtml>
        </blocks>

        <helpers>
            <aitoc_multilocationinventory>
                <class>Aitoc_MultiLocationInventory_Helper</class>
            </aitoc_multilocationinventory>
        </helpers>

        <models>
		    <aitoc_multilocationinventory>
                <class>Aitoc_MultiLocationInventory_Model</class>
                <resourceModel>aitoc_multilocationinventory_mysql4</resourceModel>
            </aitoc_multilocationinventory>
        
            <aitoc_multilocationinventory_mysql4>
                <class>Aitoc_MultiLocationInventory_Model_Mysql4</class>
                <entities>
                    <warehouse>
                        <table>aitoc_multilocationinventory_warehouse</table>
                    </warehouse>
                    <warehouse_store>
                        <table>aitoc_multilocationinventory_warehouse_store</table>
                    </warehouse_store>
                    <warehouse_product>
                        <table>aitoc_multilocationinventory_warehouse_product</table>
                    </warehouse_product>
                    <warehouse_order_item>
                        <table>aitoc_multilocationinventory_warehouse_order_item</table>
                    </warehouse_order_item>
                </entities>
            </aitoc_multilocationinventory_mysql4>

             <cataloginventory>
                <!--<rewrite>-->
                    <!--<observer>Aitoc_Aitquantitymanager_Model_Rewrite_FrontCatalogInventoryObserver</observer>-->
                <!--</rewrite>-->
                <rewrite>
                    <stock>Aitoc_MultiLocationInventory_Model_Rewrite_FrontCatalogInventoryStock</stock>
                    <stock_item>Aitoc_MultiLocationInventory_Model_Rewrite_FrontCatalogInventoryStockItem</stock_item>
                </rewrite>
                <!--<rewrite>-->
                    <!--<stock_status>Aitoc_Aitquantitymanager_Model_Rewrite_FrontCatalogInventoryStockStatus</stock_status>-->
                <!--</rewrite>-->
                <!--<rewrite>-->
                    <!--<stock_item_api>Aitoc_Aitquantitymanager_Model_Rewrite_CatalogInventoryStockItemApi</stock_item_api>-->
                <!--</rewrite>-->
				<!--<rewrite>-->
                     <!--<stock_item_api_v2>Aitoc_Aitquantitymanager_Model_Rewrite_CatalogInventoryStockItemApiV2</stock_item_api_v2>-->
                 <!--</rewrite>-->
            </cataloginventory>

            <!--<bundle>-->
                <!--<rewrite>-->
                    <!--<mysql4_indexer_stock>Aitoc_Aitquantitymanager_Model_Rewrite_FrontBundleMysql4IndexerStock</mysql4_indexer_stock>-->
                <!--</rewrite>-->
            <!--</bundle>-->

        </models>

        <importexport module="importexport">
            <import_entities>
                <catalog_product translate="label">
                    <model_token>aitoc_multilocationinventory/importexport_import_entity_product</model_token>
                    <method>_saveStockItem</method>
                    <label>Products</label>
                </catalog_product>
            </import_entities>
            <export_entities>
                <catalog_product translate="label">
                    <model_token>aitoc_multilocationinventory/importexport_export_entity_product</model_token>
                    <method>export</method>
                    <method>_prepareWarehouseInventory</method>
                    <label>Products</label>
                </catalog_product>
            </export_entities>
        </importexport>

        <events>
            <sales_quote_item_collection_products_after_load>
                <observers>
                    <aitoc_multilocationinventory>
                        <class>aitoc_multilocationinventory/observer</class>
                        <method>quoteItemCollectionLoadAfter</method>
                    </aitoc_multilocationinventory>
                </observers>
            </sales_quote_item_collection_products_after_load>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <aitoc_multilocationinventory>
                        <class>aitoc_multilocationinventory/observer</class>
                        <method>convertQuoteItemToOrderItem</method>
                    </aitoc_multilocationinventory>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_model_service_quote_submit_after>
                <observers>
                    <aitoc_multilocationinventory>
                        <class>aitoc_multilocationinventory/observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </aitoc_multilocationinventory>
                </observers>
            </sales_model_service_quote_submit_after>
            <checkout_submit_all_after>
                <observers>
                    <aitoc_multilocationinventory>
                        <class>aitoc_multilocationinventory/observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </aitoc_multilocationinventory>
                </observers>
            </checkout_submit_all_after>
            <sales_order_item_cancel>
                <observers>
                    <aitoc_multilocationinventory>
                        <class>aitoc_multilocationinventory/observer</class>
                        <method>cancelOrderItem</method>
                    </aitoc_multilocationinventory>
                </observers>
            </sales_order_item_cancel>
            <sales_order_creditmemo_save_after>
                <observers>
                    <aitoc_multilocationinventory>
                        <class>aitoc_multilocationinventory/observer</class>
                        <method>refundOrderInventory</method>
                    </aitoc_multilocationinventory>
                </observers>
            </sales_order_creditmemo_save_after>

            <sales_model_service_quote_submit_before>
                <observers>
                    <inventory>
                        <type>disabled</type>
                    </inventory>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_success>
                <observers>
                    <inventory>
                        <type>disabled</type>
                    </inventory>
                </observers>
            </sales_model_service_quote_submit_success>
            <checkout_submit_all_after>
                <observers>
                    <inventory>
                        <type>disabled</type>
                    </inventory>
                </observers>
            </checkout_submit_all_after>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <inventory>
                        <type>disabled</type>
                    </inventory>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_order_item_cancel>
                <observers>
                    <inventory>
                        <type>disabled</type>
                    </inventory>
                </observers>
            </sales_order_item_cancel>
            <sales_order_creditmemo_save_after>
                <observers>
                    <inventory>
                        <type>disabled</type>
                    </inventory>
                </observers>
            </sales_order_creditmemo_save_after>

            <!--<aitoc_aitquantitymanager_model_observer>-->
            <!--<type>singleton</type>-->
            <!--<class>Aitoc_Aitquantitymanager_Model_Observer</class>-->
            <!--<method>onOrderPlaceAfterWarehouseAssign</method>-->
            <!--</aitoc_aitquantitymanager_model_observer>-->
            <!--</observers>-->
            <!--</sales_order_place_before>-->

            <!--<adminhtml_sales_order_creditmemo_register_before>-->
            <!--<observers>-->
            <!--<aitoc_aitquantitymanager_model_observer>-->
            <!--<type>singleton</type>-->
            <!--<class>Aitoc_Aitquantitymanager_Model_Observer</class>-->
            <!--<method>onAdminhtmlSalesOrderCreditmemoRegisterBefore</method>-->
            <!--</aitoc_aitquantitymanager_model_observer>-->
            <!--</observers>-->
            <!--</adminhtml_sales_order_creditmemo_register_before>-->
            <!--<cataloginventory_stock_item_save_commit_after>-->
            <!--<observers>-->
            <!--<aitoc_aitquantitymanager_model_observer>-->
            <!--<type>singleton</type>-->
            <!--<class>Aitoc_Aitquantitymanager_Model_Observer</class>-->
            <!--<method>onCataloginventoryStockItemSaveCommitAfter</method>-->
            <!--</aitoc_aitquantitymanager_model_observer>-->
            <!--</observers>-->
            <!--</cataloginventory_stock_item_save_commit_after>-->
            <!--<sales_order_place_before>-->
            <!--<observers>-->
            <!--<aitoc_aitquantitymanager_model_observer>-->
            <!--<type>singleton</type>-->
            <!--<class>Aitoc_Aitquantitymanager_Model_Observer</class>-->
            <!--<method>onOrderPlaceAfterWarehouseAssign</method>-->
            <!--</aitoc_aitquantitymanager_model_observer>-->
            <!--</observers>-->
            <!--</sales_order_place_before>-->
        </events>

        <resources>
            <aitoc_multilocationinventory_setup>
                <setup>
                    <module>Aitoc_MultiLocationInventory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitoc_multilocationinventory_setup>
        </resources>
    </global>
    <default>
        <aitoc_multilocationinventory>
            <general>
                <use_alternative_warehouse>1</use_alternative_warehouse>
                <alternative_warehouse_exceptions>0</alternative_warehouse_exceptions>
                <use_in_order_different_warehouse>0</use_in_order_different_warehouse>
                <different_warehouse_only_for>1,2,3</different_warehouse_only_for>
                <show_warehouse_in_order>1</show_warehouse_in_order>
                <edit_warehouse_in_order>1</edit_warehouse_in_order>
                <show_warehouse_in_order_grid>1</show_warehouse_in_order_grid>
            </general>
        </aitoc_multilocationinventory>
    </default>
</config>
